@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

main {
    text-align: center;
    color: #FFFFFF;
}

button {
    margin: 15px;
}

body {
    font-family: 'Lato', 'Helvetica-Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-image: url('../img/background_img.jpg');
}

#gameState {
    padding: 1em;
}

#game-board img {
    width: 150px;
    height: 150px;
    margin-right: 5px;
    cursor: pointer;
}

#game-board div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-backdrop.in {
    opacity: 0;
}

.game-won-message {
    display: none;
    padding: 1em;
    position: relative;
    bottom: 50%;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
}
